<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
      <app-content-header [contentHeader]="contentHeader"></app-content-header>
      <section>
       <div class="card">
         <div class="card-body">
           <div class="card-text">
            <div class=" my-1 font-weight-bold ml-4 mb-2">
            <h2 id='1'>{{'Prize.Title'| translate}}<span class="my-1 font-weight-bold">Paypal</span></h2>
            </div>
            <table class="ml-5 ">
              <tbody>
                <tr>
                  <td class="pr-1">{{'Prize.Link'| translate}}</td>
                  <td><span class="font-weight-bold">https://www.paypal.com/cgi-bin/web</span></td>
                  <td class="font-size-bold "> <strong class="ml-5 mr-2"style="font-size:20px;"> Activate / Deactivate:</strong></td>
                  <td><div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="customSwitch10" checked />
                    <label class="custom-control-label" for="customSwitch10">
                      <span class="switch-icon-left"><i data-feather="check"></i></span>
                      <span class="switch-icon-right"><i data-feather="x"></i></span>
                    </label>
                  </div></td>
                </tr>
                <tr>
                  <td class="pr-1">{{'Prize.Type'| translate}}</td>
                  <td>other</td>
                </tr>
                <tr>
                  <td class="pr-1">{{'Prize.Description'| translate}}</td>
                  <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac sodales ex.</td>
                </tr>
                <tr>
                  <td class="pr-1">{{'Prize.APICode'| translate}}</td>
                  <td>00261566874446</td>
                </tr>
                <tr>
                  <td class="pr-1">{{'Prize.Accountnumber'| translate}}</td>
                  <td>0AATZZFFG907</td>
                </tr>
                
              </tbody></table>
              
         </div>
         </div>
         </div>
         
         