<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
      <app-content-header [contentHeader]="contentHeader"></app-content-header>
      <section>
       <div class="card">
         <div class="card-body">
           <div class="card-text">
            <div class=" my-1 font-weight-bold ml-4 mb-2">
            <h2 id='1'>{{'Contact.PhoneNumber'| translate}}<span class="my-1 font-weight-bold">+216 70 600 600</span></h2>
            </div>
            <table class="ml-5">
              <tbody>
                <tr>
                  <td class="pr-1">{{'advertiser. STATUS'| translate}}</td>
                  <td><span class="font-weight-bold">Pro{{'advertiser.Addnewadvertiser'| translate}}</span></td>
                </tr>
                <tr>
                  <td class="pr-1 mb-2">{{'Winner.day'| translate}}</td>
                  <td><span class="font-weight-bold">02/10/2022</span></td>
                </tr>
                <tr>
                  <td class="pr-1">{{'Payment. MembershipType'| translate}}</td>
                  <td>Enterprise</td>
                </tr>
                <tr>
                  <td class="pr-1 mt-5">{{'advertiser.SocialAccounts'| translate}}</td>
                  <td><form class="card-text">
                    <div class="row mt-2">
                      <div class="col-lg-4 col-md-6 form-group">
                        <label for="twitter-input">Twitter</label>
                        <div class="input-group input-group-merge">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon3" >
                              <i class="font-medium-2" data-feather="twitter"></i>
                            </span>
                          </div>
                          <input
                            id="twitter-input"
                            type="text"
                            class="form-control"
                            aria-describedby="basic-addon3"
                            value="https://www.twitter.com/kiiz"
                          />
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6 form-group">
                        <label for="facebook-input">Facebook</label>
                        <div class="input-group input-group-merge">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon4">
                              <i class="font-medium-2" data-feather="facebook"></i>
                            </span>
                          </div>
                          <input
                            id="facebook-input"
                            type="text"
                            class="form-control"
                            aria-describedby="basic-addon4"
                            value="https://www.facebook.com/kiiz4"
                          />
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6 form-group">
                        <label for="instagram-input">Instagram</label>
                        <div class="input-group input-group-merge">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon5">
                              <i class="font-medium-2" data-feather="instagram"></i>
                            </span>
                          </div>
                          <input
                            id="instagram-input"
                            type="text"
                            class="form-control"
                            aria-describedby="basic-addon5"
                            value="https://www.instagram.com/kiiz4"
                          />
                        </div>
                      </div>
                     
                      <div class="col-lg-4 col-md-6 form-group">
                        <label for="codepen-input">Mail</label>
                        <div class="input-group input-group-merge">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon12">
                              <i class="font-medium-2" data-feather="mail"></i>
                            </span>
                          </div>
                          <input
                            id="mail-input"
                            type="text"
                            class="form-control"
                            aria-describedby="basic-addon12"
                            value="https://www.gmail.com/kiiz"
                          />
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6 form-group">
                        <label for="codepen-input">Youtube</label>
                        <div class="input-group input-group-merge">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon12">
                              <i class="font-medium-2" data-feather="youtube"></i>
                            </span>
                          </div>
                          <input
                            id="mail-input"
                            type="text"
                            class="form-control"
                            aria-describedby="basic-addon12"
                            value="https://www.youtube.com/kiiz"
                          />
                        </div>
                      </div>
                    </div>
                  </form></td>
                </tr>
              </tbody></table>
         </div>
         </div>
         </div>
        