<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
      <app-content-header [contentHeader]="contentHeader"></app-content-header>
      <section>
       <div class="card">
         <div class="card-body">
           <div class="card-text">
             <p></p>
          <h2>{{'Role.ListofPermissions'| translate}}</h2>
        
              <label class="d-flex align-items-center mt-2 ml-1 ml-md-0">{{'User.Search'| translate}}
                <input 
                  name="searchValue"
                  type="search"
                  class="form-control ml-25" />
                </label>
          <div class="row" id="basic-table">
              <div class="col-12">
                <div class="card">
                  <div class="card-body">
                  </div>
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>{{'Role.Role'| translate}}</th>
                          <th>{{'Role.ReadRead'| translate}}</th>
                          <th>{{'Role.Create'| translate}}</th>
                          <th>{{'Role.Update'| translate}}</th>
                          <th>{{'Role.Delete'| translate}}</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                           <span class="font-weight-bold">{{'Role.Admin'| translate}}</span>
                          </td>
                          <td><div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck1" />
                            <label class="custom-control-label" for="customCheck1"></label>
                          </div>
                          </td>
                          <td>
                            <div class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" id="customCheck2" />
                              <label class="custom-control-label" for="customCheck2"></label>
                            </div>
                          </td>
                          
                          <td>
                            <div class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" id="customCheck3" />
                              <label class="custom-control-label" for="customCheck3"></label>
                            </div>
                          </td>
                          <td>
                            <div class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" id="customCheck4" />
                              <label class="custom-control-label" for="customCheck4"></label>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                           <span
                              class="font-weight-bold"
                              >{{'Role.advertiser'| translate}}</span
                            >
                          </td>
                           <td><div class="custom-control custom-checkbox">
                             <input type="checkbox" class="custom-control-input" id="customCheck5" />
                             <label class="custom-control-label" for="customCheck5"></label>
                           </div>
                           </td>
                           <td>
                             <div class="custom-control custom-checkbox">
                               <input type="checkbox" class="custom-control-input" id="customCheck6" />
                               <label class="custom-control-label" for="customCheck6"></label>
                             </div>
                           </td>
                           
                           <td>
                             <div class="custom-control custom-checkbox">
                               <input type="checkbox" class="custom-control-input" id="customCheck7" />
                               <label class="custom-control-label" for="customCheck7"></label>
                             </div>
                           </td>
                           <td>
                             <div class="custom-control custom-checkbox">
                               <input type="checkbox" class="custom-control-input" id="customCheck8" />
                               <label class="custom-control-label" for="customCheck8"></label>
                             </div>
                           </td>
                        </tr>
                        <tr>
                          <td>
                           <span
                              class="font-weight-bold"
                              >{{'Role.Client'| translate}}</span
                            >
                          </td>
                          <td><div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck9" />
                            <label class="custom-control-label" for="customCheck9"></label>
                          </div>
                          </td>
                          <td>
                            <div class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" id="customCheck10" />
                              <label class="custom-control-label" for="customCheck10"></label>
                            </div>
                          </td>
                          
                          <td>
                            <div class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" id="customCheck11" />
                              <label class="custom-control-label" for="customCheck11"></label>
                            </div>
                          </td>
                          <td>
                            <div class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" id="customCheck12" />
                              <label class="custom-control-label" for="customCheck12"></label>
                            </div>
                          </td>
                        </tr>
                       
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
              </div>
              </div>
              </div>
             
            
              