<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <app-content-header [contentHeader]="contentHeader"></app-content-header>
    <section>
     <div class="card">
       <div class="card-body">
         <div class="card-text">
<div class="card-body">
    <div class="row">
        <!--entries-->

        <div class="col-md-6 col-12">

            <div class="d-flex justify-content-between align-items-center m-1">
                <label class="d-flex align-items-center">{{'User.Show'| translate}}
                    <select class="form-control mx-25">
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                    entries</label>
            </div>
        </div>

        <!--search-->
        <div class="col-md-6 col-12 d-flex justify-content-start justify-content-md-end">

            <label class="d-flex align-items-center ml-1 ml-md-0"><input placeholder="Search" name="searchValue"
                    type="search" class="form-control ml-25" /></label>
        </div>
    </div>
</div>



<!--table-->
<div class="card-body">

    <div class="  row col md-2">
        <table class="table table-responsive-sm table-bordered table-outline mb-0">
            <thead class="thead-light">
                <tr>

                    <th class="text-center">{{'Complaint.Title'| translate}}</th>

                    <th class="text-center">{{'User.Actions'| translate}}</th>

                </tr>
            </thead>
            <tbody>
                <tr>

                    <td class="text-center">
                        
                      <nav >
                        <ol class="breadcrumb">
                          <li class="breadcrumb-item"><a href="#">Food</a></li>
                        </ol>
                      </nav> 

                    </td>

                    <td _ngcontent-wrv-c118="">
                        <div _ngcontent-wrv-c118="" class="overlay-edit align">
                            <button _ngcontent-wrv-c118="" type="button" class="btn btn-icon btn-danger">
                                <i _ngcontent-wrv-c118="" class="feather icon-trash-2"></i></button>&nbsp;
                            <button _ngcontent-wrv-c118="" type="button" class="btn btn-icon btn-success"> <a
                              href="category/edit-category">
                                    <i _ngcontent-wrv-c118="" class="fa fa-edit"></i></a></button>

                        </div>
                    </td>
                </tr>


                <tr>
                    <td class="text-center">
                    
                      <nav >
                        <ol class="breadcrumb">
                          <li class="breadcrumb-item"><a href="#">Clothes</a></li>
                        </ol>
                      </nav>  

                    </td>

                    <td _ngcontent-wrv-c118="">
                        <div _ngcontent-wrv-c118="" class="overlay-edit align">
                            <button _ngcontent-wrv-c118="" type="button" class="btn btn-icon btn-danger">
                                <i _ngcontent-wrv-c118="" class="feather icon-trash-2"></i></button>&nbsp;
                            <button _ngcontent-wrv-c118="" type="button" class="btn btn-icon btn-success"><a
                              href="category/edit-category">
                                    <i _ngcontent-wrv-c118="" class="fa fa-edit"></i></a></button>

                        </div>
                    </td>
                </tr>


                <tr>
                  <td class="text-center">
                  
                    <nav >
                      <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Food</a></li>
                        <li class="breadcrumb-item active" >Pasta</li>
                      </ol>
                    </nav>   

                  </td>

                  <td _ngcontent-wrv-c118="">
                      <div _ngcontent-wrv-c118="" class="overlay-edit align">
                          <button _ngcontent-wrv-c118="" type="button" class="btn btn-icon btn-danger">
                              <i _ngcontent-wrv-c118="" class="feather icon-trash-2"></i></button>&nbsp;
                          <button _ngcontent-wrv-c118="" type="button" class="btn btn-icon btn-success"><a
                            href="category/edit-category">
                                  <i _ngcontent-wrv-c118="" class="fa fa-edit"></i></a></button>

                      </div>
                  </td>
              </tr>

              <tr>
                <td class="text-center">
                
                  <nav >
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="#">Clothes</a></li>
                      <li class="breadcrumb-item active" >Women Clothes</li>
                    </ol>
                  </nav>

                </td>

                <td _ngcontent-wrv-c118="">
                    <div _ngcontent-wrv-c118="" class="overlay-edit align">
                        <button _ngcontent-wrv-c118="" type="button" class="btn btn-icon btn-danger">
                            <i _ngcontent-wrv-c118="" class="feather icon-trash-2"></i></button>&nbsp;
                        <button _ngcontent-wrv-c118="" type="button" class="btn btn-icon btn-success"> <a
                                href="category/edit-category">
                                <i _ngcontent-wrv-c118="" class="fa fa-edit"></i></a></button>

                    </div>
                </td>
            </tr>

            <tr>
              <td class="text-center">
              
                <nav class="breadcrumb"><a class="breadcrumb-item" href="#">Food</a>
                  <a class="breadcrumb-item" href="#">Pasta</a>
                  
                  <span class="breadcrumb-item active">Couscous</span>
                </nav> 

              </td>

              <td _ngcontent-wrv-c118="">
                  <div _ngcontent-wrv-c118="" class="overlay-edit align">
                      <button _ngcontent-wrv-c118="" type="button" class="btn btn-icon btn-danger">
                          <i _ngcontent-wrv-c118="" class="feather icon-trash-2"></i></button>&nbsp;
                      <button _ngcontent-wrv-c118="" type="button" class="btn btn-icon btn-success"><a
                        href="category/edit-category">
                              <i _ngcontent-wrv-c118="" class="fa fa-edit"></i></a></button>

                  </div>
              </td>
          </tr>
            </tbody>
        </table>
    </div>
    <!--/row col-md-2-->
</div>
<!--/card-body-->

<!--/card-->
         </div>
       </div>
     </div>
     