<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
      <app-content-header [contentHeader]="contentHeader"></app-content-header>
      <section>
       <div class="card">
         <div class="card-body">
           <div class="card-text">
            <div class=" my-1 font-weight-bold ml-4 mb-2">
            <h2 id='1'> {{'Ad. Title'| translate}}<span class="my-1 font-weight-bold">{{'Contact. PhoneNumber'| translate}}</span></h2>
            </div>
            <table class="ml-5">
              <tbody>
                <tr>
                  <td class="pr-1">{{'Ad. Category'| translate}}</td>
                  <td><span class="font-weight-bold">Home --> Electronics --> Mobiles</span></td>
                </tr>
                <tr>
                  <td class="pr-1">{{'Ad. Description'| translate}}</td>
                  <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac sodales ex.</td>
                </tr>
                <tr>
                  <td class="pr-1 mb-2">{{'Prize. Image'| translate}}</td>
                  <td><img alt="img-placeholder" width="200px" height="160px" src="assets/images/pages/eCommerce/2.png" ></td>
                </tr>
                <tr>
                  <td class="pr-1">{{'Ad. LinkAccount'| translate}}</td>
                  <td>Dimo000256317</td>
                </tr>
                
                <tr>
                  <td class="pr-1">{{'Contact.PhoneNumber'| translate}}</td>
                  <td>+216 33 100 200</td>
                </tr>
             
                <tr>
                  <td class="pr-1">{{'Ad. Location'| translate}}</td>
                  <td>Sousse Tunisia</td>
                </tr>
                <tr>
                  <td class="pr-1">{{'Ad. AdType'| translate}}</td>
                  <td>New</td>
                </tr>
                <tr>
                  <td class="pr-1 mt-5">{{'Ad. SocialAccounts'| translate}}</td>
                  <td><form class="card-text">
                    <div class="row mt-2">
                      <div class="col-lg-4 col-md-6 form-group">
                        <label for="twitter-input">Twitter</label>
                        <div class="input-group input-group-merge">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon3" >
                              <i class="font-medium-2" data-feather="twitter"></i>
                            </span>
                          </div>
                          <input
                            id="twitter-input"
                            type="text"
                            class="form-control"
                            aria-describedby="basic-addon3"
                            value="https://www.twitter.com/adoptionism744"
                          />
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6 form-group">
                        <label for="facebook-input">Facebook</label>
                        <div class="input-group input-group-merge">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon4">
                              <i class="font-medium-2" data-feather="facebook"></i>
                            </span>
                          </div>
                          <input
                            id="facebook-input"
                            type="text"
                            class="form-control"
                            aria-describedby="basic-addon4"
                            value="https://www.facebook.com/adoptionism664"
                          />
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6 form-group">
                        <label for="instagram-input">Instagram</label>
                        <div class="input-group input-group-merge">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon5">
                              <i class="font-medium-2" data-feather="instagram"></i>
                            </span>
                          </div>
                          <input
                            id="instagram-input"
                            type="text"
                            class="form-control"
                            aria-describedby="basic-addon5"
                            value="https://www.instagram.com/adopt-44"
                          />
                        </div>
                      </div>
                      
                      <div class="col-lg-4 col-md-6 form-group">
                        <label for="codepen-input">Mail</label>
                        <div class="input-group input-group-merge">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon12">
                              <i class="font-medium-2" data-feather="mail"></i>
                            </span>
                          </div>
                          <input
                            id="mail-input"
                            type="text"
                            class="form-control"
                            aria-describedby="basic-addon12"
                            value="https://www.gmail.com/madop818"
                          />
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6 form-group">
                        <label for="codepen-input">Youtube</label>
                        <div class="input-group input-group-merge">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon12">
                              <i class="font-medium-2" data-feather="youtube"></i>
                            </span>
                          </div>
                          <input
                            id="mail-input"
                            type="text"
                            class="form-control"
                            aria-describedby="basic-addon12"
                            value="https://www.youtube.com/kimaa18"
                          />
                        </div>
                      </div>
                    </div>
                  </form></td>
                </tr>
              </tbody></table>
         </div>
         </div>
         </div>
        